<footer class="site-footer">
    <div class="footer__container">
        <p>&copy; {{ page.date.getFullYear() if page.date else '2026' }} Synergy Solutions. All rights reserved.</p>
    </div>
</footer> 